<div class="card" style="width: 30rem">
  <div class="card-body">
    <h5 class="card-title text-center">Bienvenido a Smart Points</h5>
    <br />
    <h6 class="card-subtitle mb-2 text-muted text-center">
      Registra tus compras y consige puntos, consultalos, redime y consigue
      premios
    </h6>
    <hr />
    <p class="card-text">Selecciona el proceso.</p>
    <br />

    <app-pointregistry></app-pointregistry>
    <br />
    <app-pointsconsult></app-pointsconsult>
    <br />
    <button type="button" [routerLink]="['/redimir-premios']"  class="btn btn-outline-primary btn-block">
      Redime premios
    </button>
  </div>
</div>
